<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="POST" action="/">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Enter Details</h3>
            </p>
            <div>
                <p>Student Id:</p>{{ form.id }}
            </div>
            <div>
                <p>Student Name:</p>{{ form.name }}
            </div>
            <br>
            <div>
                <p>Student Stream:</p>
                <label for="streams">{{form.stream}}</label>
                    <select name="stream" id="stream">
                    <option value="Form1A">Form1A</option>
                    <option value="Form1B">Form1B</option>
                    <option value="Form1C">Form1C</option>
                    </select>
                </label>
            </div>
            <div>
                <p>Student Email:</p>{{ form.email }}
            </div>
            <div>
                <p>Student contact:</p>{{ form.contact }}
            </div>
            <div>
                <br>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>